<div class="row">
  <div class="col col-md-6 col-lg-4 col-12">
    <div class="card">
      <div class="card-header">
        <h5 class="mb-0"><a  class="nav-link active" [routerLink]="['/topics']">Algebra</a></h5>
      </div>
      <div class="card-body">
        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
          Donec id elit non mi porta gravida at eget metus.</p>
      </div>
    </div>
  </div>
  <div class="col col-md-6 col-lg-4 col-12">
    <div class="card">
      <div class="card-header">
        <h5 class="mb-0"><a  class="nav-link active" [routerLink]="['/topics']">Precentages</a></h5>
      </div>
      <div class="card-body">
        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
          Donec id elit non mi porta gravida at eget metus.</p>
        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
          Donec id elit non mi porta gravida at eget metus.</p>
        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
          Donec id elit non mi porta gravida at eget metus.</p>
      </div>
    </div>
  </div>
  <div class="col col-md-6 col-lg-4 col-12">
    <div class="card">
      <div class="card-header">
        <h5 class="mb-0"><a  class="nav-link active" [routerLink]="['/topics']">Fractions</a></h5>
      </div>
      <div class="card-body">
        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
          Donec id elit non mi porta gravida at eget metus.</p>
      </div>
    </div>
  </div>
  <div class="col col-md-6 col-lg-4 col-12"></div>
  <div class="col col-md-6 col-lg-4 col-12"></div>
  <div class="col col-md-6 col-lg-4 col-12"></div>
</div>
