<div class="row">
  <div class="col col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Topic 1</h4>
        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
          Donec id elit non mi porta gravida at eget metus.</p>
        <a class="card-link active" [routerLink]="['/notes']">Notes</a>
        <a class="card-link active" [routerLink]="['/examples']">Examples</a>
        <a class="card-link active" [routerLink]="['/questions']">Questions</a>
      </div>
    </div>
  </div>
  <div class="col col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Topic 2</h4>
        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
          Donec id elit non mi porta gravida at eget metus.</p>
          <a class="card-link active" [routerLink]="['/notes']">Notes</a>
          <a class="card-link active" [routerLink]="['/examples']">Examples</a>
          <a class="card-link  active" [routerLink]="['/questions']">Questions</a>
        </div>
    </div>
  </div>
  <div class="col col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Topic 3</h4>
        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
          Donec id elit non mi porta gravida at eget metus.</p>
          <a class="card-link active" [routerLink]="['/notes']">Notes</a>
          <a class="card-link active" [routerLink]="['/examples']">Examples</a>
          <a class="card-link active" [routerLink]="['/questions']">Questions</a>
        </div>
    </div>
  </div>
</div>
